@charset "UTF-8";


main {
    position: relative;
    margin: 0 10vw;
    width: 80vw;
    background-color: white;
    margin-top: 12.5vw;
    border-radius: 10px 10px 10px 10px;
    height: 30vw;
    transition: width 0.5s ease;
}
.box {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

p {
    font-size: 1em;
}

form {
    position: relative;
    width: calc(50% - 10px);
    height: 25vw;
    padding-top: 1vw;
}

form::after {
    content: "";
    position: absolute;
    top: 3.3vw;
    right: -15px;
    height: 90%;
    width: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to top, var(--cor2), var(--cor3));
}

#emailandpass label > span {
    font-size: 3vw;
}

#emailandpass input {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 4px;
    height: 3.8vw;
    font-size: 1.5em;
    margin: 0;
    transform: translateY(0.3em);
    width: calc(100% - 4.2vw);

    
}

#email, #pass {
    margin: 20px 0;
    background-image: linear-gradient(90deg, var(--cor2), var(--cor3));
    height: 5vw;
    border-radius: 4px;
}

#entrada, #senha-perdida {
    margin: 20px auto;
    height: 5vw;
    font-size: 1.5em;
}

#senha-perdida {
    padding-top: calc(5vw / 4);
}

main h1, main p {
    position: absolute;
    top: -125px;
    transform: translateX(-50%);
    left: 50%
}

main p {
    transform: translateX(-62%);
    top: -65px; 
}