@charset "UTF-8";

main {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 300px;
    transition: width 0.5s ease, height 0.5s ease;
    
}

section {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    /*overflow: hidden;*/
}

.box {
    margin: 0;
    float: right;
    width: 30%;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

main h1, main p {
    position: absolute;
    top: -30%;
    transform: translate(-50%, -50%);
    left: 70%;
}

main p {
    font-size: 1em;
    transform: translate(-50%, -50%);
    top: -10%;
    width: 100%;
    margin: 0; 
}

form {
    position: relative;
    width: 70%;
    height: 100%;
    padding-top: 1vw;
    padding: 2% 2%;
}

form::after {
    content: "";
    position: absolute;
    top: 10%;
    right: -4px;
    height: 80%;
    width: 8px;
    border-radius: 10px;
    background-image: linear-gradient(to top, var(--cor2), var(--cor3));
}

#emailandpass {
}

#emailandpass label > span {
}

#emailandpass input {
}

#email, #pass {
    margin: 20px 0;
    background-image: linear-gradient(90deg, var(--cor2), var(--cor3));
    border-radius: 4px;
}

#entrada, #senha-perdida {
    margin: 20px auto;
    border-radius: 4px;
}

#senha-perdida {

}
