@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor0: #44A2EB;
    --cor1: #4F44EB;
    --cor2: #44D7EB;
    --cor3: #8644EB;
    --cor-sombreada0: #243A7C;
    --cor-sombreada1: #385AC0;
    --cor-sombreada2: #182452;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      
}

html, body {
    width: 100%;
    height: 100%;
}

body, input {
    font-family: Raleway, Arial, Helvetica, sans-serif;  
}

.material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

h1 {
    text-align: center;
    font-size: 4em;
    font-weight: lighter;
}

p {
    text-align: center;
    margin: 20px 50px;
    font-size: 1em;
}

a {
    color: black;
}

a:visited {
    color: inherit;
}

main {
    transition: width 0.5s ease, height 0.5s ease;
}

section {
    padding: 0 20px 5vh 20px;
}

.box {
    position: relative;
    background: url(../images/pinguins.png) center top;
    width: calc(100% + 40px);
    height: 300px; 
    margin-left: -20px; 
}

.box::after {
    position: absolute;
    content: "";
    background-color: white;
    top: 81%;
    width: 100%;
    height: 20%;
    border-radius: 30px 30px 0 0;
}


#emailandpass label > span {
    display: inline-block;
    font-size: 3.5em;
    color: white;
}

#emailandpass input {
    display: inline-block;
    position: absolute;
    top: .28em;
    right: .35em;
    width: calc(100% - 3.5em);
    height: 2.2em;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    transition: background-color 1s ease;


}

#emailandpass input:focus {
    background: #e7fcff;
}

#email, #pass {
    display: block;
    position: relative;
    background-color: var(--cor0);
    border: 2px solid var(--cor-sombreada0);
    border-radius: 10px;
    margin: 10px 0;
    padding-left: 1em;
    height: 3.5em;
}

#entrada, #senha-perdida {
    display: block;
    margin:  10px 0;
    text-align: center;
    text-decoration: none;
    border: 2px solid var(--cor-sombreada0);
    border-radius: 10px;
    font-size: 1.5em;
    width: 100%;
    height: 2em;
}

#entrada {
    background-color: var(--cor1);
    color: white;
    transition: background-color 0.1s ease;
}

#entrada:hover {
    background-color: var(--cor-sombreada2);
}

#senha-perdida {
    padding-top: calc(2em / 4);
    transition: background-color 0.1s ease, color 0.1s ease;
}

#senha-perdida:hover {
    background-color: var(--cor-sombreada1);
    color: white;
}

/*Typical Device Breakpoints
-----------------------------------------
Pequenas telas: até (600px - Guanabara)
Celular: de 600px até 768px
Tablet: 768 até 992px
desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media  screen and (min-width: 768px) {

    body {
        background-image: linear-gradient(90deg, var(--cor2), var(--cor3))
    }

    section {
        padding: 10vh 4vw;
        width: 70vw;
        margin: auto;
    }

    h1 {
        color: white;
    }

    p {
        font-size: 1.6em;
        color: white;
    }

    .box {
        width: calc(100% + 16vw);
        border-radius: 50px;
        margin-left: -8vw;
    }

    .box::after {
        display: none;
    }

    #email, #pass {
        background-color: #44a3eb5b;
    }

}





