@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor0: #44A2EB;
    --cor1: #4F44EB;
    --cor2: #44D7EB;
    --cor3: #8644EB;
    --cor-sombreada0: #243A7C;
    --cor-sombreada1: #385AC0;
    --cor-sombreada2: #182452;

}

* {
    margin: 0;
    padding: 0;
    font-family: Raleway;    
}

main {
    transition: width 0.5s ease;
}

.material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.box {
    background: url(../images/pinguins.png) center top;
    width: 100vw;
    height: 200px;  
    border-radius: 0px 0px 50px 50px; 
}

h1 {
    text-align: center;
    font-size: 4em;
    font-weight: lighter;
}

p {
    text-align: center;
    margin: 20px 50px;
    font-size: 1em;
}

a:visited {
    color: inherit;
}

#emailandpass {
    margin: 0 20px;
}

#emailandpass input {
    width: calc(100% - 3.5em - 10px);
    height: 3.2em;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
    margin-bottom: 0.3em;
    padding-left: 10px;
    transition: background-color 1s ease;


}

#emailandpass input:focus {
    background: #e7fcff;
}

#emailandpass label > span {
    display: inline-block;
    font-size: 3.5em;
    margin-top: -15px;
    margin-left: 0.07em;
    color: white;
    transform: translateY(20px);
}

#email, #pass {
    background-color: var(--cor0);
    border-radius: 10px;
    margin: 10px 0;
}

#entrada, #senha-perdida {
    display: block;
    margin:  10px auto;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.5em;
    width: calc(100% - 40px);
    height: 2.5em;
}

#entrada {
    background-color: var(--cor1);
    color: white;
    transition: background-color 0.1s ease;
}

#entrada:hover {
    background-color: var(--cor-sombreada2);
}

#senha-perdida {
    box-sizing: border-box;
    padding-top: calc(2.5em / 4);
    transition: background-color 0.1s ease, color 0.1s ease;
}

#senha-perdida:hover {
    background-color: var(--cor-sombreada1);
    color: white;
}

/*Typical Device Breakpoints
-----------------------------------------
Pequenas telas: até (600px - Guanabara)
Celular: de 600px até 768px
Tablet: 768 até 992px
desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media  screen and (min-width: 768px) {

    body {
        background-image: linear-gradient(90deg, var(--cor2), var(--cor3))
    }

    main {
        width: 70vw;
        margin: auto;
        margin-top: 20vh;
        transition: width 0.5s ease;
    }

    h1 {
        color: white;
    }

    p {
        font-size: 1.6em;
        color: white;
    }

    .box {
        width: 70vw;
        border-radius: 50px;
    }

    #emailandpass input {
        font-size: 1.5em;
        height: 4em;
        margin: 0.3em 0;
    }

    #email, #pass {
        background-color: #44a3eb5b;
    }

}





